$color-red: #de243b;
$color-white: #fafafa;
$color-black-dark: #000000;
$color-black-medium: #252525;
$color-black-light: #313131;

html {
	background: $color-white url("../img/background.jpg");
	background-size: cover;
	font-family: "helvetica neue";
	font-size: 10px;
	text-align: center;
}

body {
	align-items: center;
	display: flex;
	flex: 1;
	font-size: 2rem;
	margin: 0;
	min-height: 100vh;
}

.clock {
	background: $color-black-light;
	border: 20px solid $color-black-medium;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba($color-black-dark, 0.1), inset 0 0 0 3px $color-black-light, inset 0 0 10px $color-black-dark, 0 0 10px rgba($color-black-dark, 0.2);
	height: 30rem;
	margin: 50px auto;
	padding: 2rem;
	position: relative;
	width: 30rem;

	&__face {
		height: 100%;
		position: relative;
		transform: translateY(-3px);
		width: 100%;
	}
}


.hand {
	background: $color-black-dark;
	height: 6px;
	position: absolute;
	top: 50%;
	transform: rotate(90deg);
	transform-origin: 100%;
	transition: all 0.5;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
	width: 50%;

	&__minute {
		left: 15%;
		width: 35%;
	}

	&__second {
		background: $color-red;
		height: 3px;
		left: 5%;
		width: 45%;
	}
}